<!DOCTYPE html>
<html>
  <head>
    <title>MERN Boilerplate</title>
    <meta name="description" content="Description" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta name="keywords" content="Keywords" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/6.0.0/normalize.css" />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <!-- REACT CONTENT -->
    <div id="content">
    </div>
  </body>
  <script src="/js/bundle.js"></script>
</html>
