<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- REACT CONTENT -->
    <div id="content">
    </div>
  </body>
</html>
