<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <!-- REACT CONTENT -->
    <div id="content">
    </div>
  </body>
  <script src="/js/bundle.js"> </script>
</html>
